.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dataEntry {
  position: fixed;
  background-color: #FAF8FB;
  padding-right: 50vh;
}
.ListContent {
  padding-top: 30vh;
}
button {
  margin-left: 20px;
  margin-bottom: 10px;
}

.but {
  background-color: aqua;
  margin-top: 66.9vh;
  margin-left: 4vh;
  padding: 3vh;
}

input {
  margin-bottom: 10px;
}

label {
<<<<<<< Updated upstream
  margin: 10px;
}
=======
  margin: 20px;
}
>>>>>>> Stashed changes
